li {
    color:blue;
}

body {
    background: url("images/menu_background.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    color: white;
    margin: 0px;
    font-family: Arial, ui-serif;
}

#small_logo{
    margin-top: 25px;
    margin-left: 35px;
}

h1  {
    background-color: #DD7835;
    display: inline;
    padding: 8;
}

.menu_title {
    margin-top: 45px;
    margin-bottom: 50px;
}

.menu_list {
    margin-left: 30px;
}
.menu_list_item {
    margin: 30px 0px;
}
.menu_list_title{
    font-size: 20px;
    font-weight: bold;
}
.menu_list_price{
    font-size: 20px;
    font-weight: lighter;
    color: #DD7835;
    margin-left: 8px;
}
.menu_list_ingredients{
    font-size: 14px;
    font-weight: lighter;
    color: #D8D8D8;
    margin-top: 4px;
}