{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Our pizzas</title>
    <link rel="stylesheet" href="{% static 'menu/style.css'%}"/>
</head>
<body>
    <img id="small_logo" src="{% static 'menu/images/small_logo.png'%}">
    <div class="menu_title">
        <h1>Our Pizzas</h1>
    </div>
    <div class="menu_list">
        {%for pizza in pizzas%}
            <div class="menu_list_item">
                <span class="menu_list_title">{{pizza.name}}</span>
                <span class="menu_list_price">{{pizza.price | floatformat:2}} $</span>
                <div class="menu_list_ingredients">{{pizza.ingredients}}</div>
            </div>
        {%endfor%}
    </div>
</body>
</html>